script(src='libs/angular/angular.js')
script(src='libs/angular-cookies/angular-cookies.js')
script(src='libs/angular-resource/angular-resource.js')
script(src='libs/angular-sanitize/angular-sanitize.js')
script(src='libs/angular-ui-router/release/angular-ui-router.min.js')
script(src='libs/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='libs/bower-angular-placeholders/angular-placeholders.js')
script(src='libs/angular-ui-utils/modules/showhide/showhide.js')
script(src='libs/angular-ui-utils/modules/ie-shiv/ie-shiv.js')
script(src='libs/angular-ui-utils/modules/scrollfix/scrollfix.js')
script(src='libs/angular-ui-utils/modules/format/format.js')
script(src='libs/angular-ui-utils/modules/event/event.js')
script(src='libs/angular-ui-utils/modules/jq/jq.js')
script(src='libs/angular-ui-utils/modules/inflector/inflector.js')
script(src='libs/angular-ui-utils/modules/validate/validate.js')
script(src='libs/angular-ui-utils/modules/keypress/keypress.js')
script(src='libs/angular-ui-utils/modules/unique/unique.js')
script(src='libs/angular-ui-utils/modules/mask/mask.js')
script(src='libs/angular-ui-utils/modules/reset/reset.js')
script(src='libs/angular-ui-utils/modules/indeterminate/indeterminate.js')
script(src='libs/angular-ui-utils/modules/route/route.js')
script(src='libs/angular-ui-utils/modules/highlight/highlight.js')
script(src='libs/angular-ui-utils/modules/utils.js')
