script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular-resource.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.0.1/angular-ui-router.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.js')


script(src='libs/bower-angular-placeholders/angular-placeholders.js')

script(src='libs/angular-ui-utils/modules/showhide/showhide.js')
script(src='libs/angular-ui-utils/modules/ie-shiv/ie-shiv.js')
script(src='libs/angular-ui-utils/modules/scrollfix/scrollfix.js')
script(src='libs/angular-ui-utils/modules/format/format.js')
script(src='libs/angular-ui-utils/modules/event/event.js')
script(src='libs/angular-ui-utils/modules/jq/jq.js')
script(src='libs/angular-ui-utils/modules/inflector/inflector.js')
script(src='libs/angular-ui-utils/modules/validate/validate.js')
script(src='libs/angular-ui-utils/modules/keypress/keypress.js')
script(src='libs/angular-ui-utils/modules/unique/unique.js')
script(src='libs/angular-ui-utils/modules/mask/mask.js')
script(src='libs/angular-ui-utils/modules/reset/reset.js')
script(src='libs/angular-ui-utils/modules/indeterminate/indeterminate.js')
script(src='libs/angular-ui-utils/modules/route/route.js')
script(src='libs/angular-ui-utils/modules/highlight/highlight.js')
script(src='libs/angular-ui-utils/modules/utils.js')
