doctype 5
html(ng-app="warcUI",lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")    
    title= title
    link(rel='stylesheet', href='styles/main.css')
  body
    .navbar
      a.navbar-brand(href="#/") #{title}
      ul.nav.navbar-nav
        li(ui-route="#/replay", ng-class="{active: $uiRoute}")
          a(href="#/replay")
            i.icon-fixed-width.icon-repeat
            | Replay
        li(ui-route="#/collect", ng-class="{active: $uiRoute}")
          a(href="#/collect")
            i.icon-fixed-width.icon-download-alt
            | Collect

      ul.nav.navbar-nav.pull-right
        li(popover="Preferences",popover-placement="bottom",popover-trigger="mouseenter",popover-popup-delay=800,ui-route="#/prefs", ng-class="{active: $uiRoute}")
          a(href="#/prefs")
            i.icon-fixed-width.icon-cogs
        li(popover="Exit",popover-placement="bottom",popover-trigger="mouseenter",popover-popup-delay=800)
          a(href="#/prefs")
            i.icon-fixed-width.icon-signout
    div(ui-view)
    div Angular seed app: v
      span(app-version)

    include partials/bower.libs.jade

    script(src="scripts/warcUI.js")
    script(src="scripts/filters.js")
    script(src="scripts/services.js")
    script(src="scripts/controllers.js")
    script(src="scripts/directives.js")
